#vt100 #cursor.bright {
  background-color: white;
  color:            black;
}

div#terminal {
  float: center;
  margin: auto;
  margin-bottom: 10%;
}

#vt100 #console, #vt100 #alt_console, #vt100 #cursor, #vt100 #lineheight {
  font-size: 12pt;
}

div#left {
  float: left;
  position: absolute;
  bottom: 5;
}

div#right {
  float: right;
  font-size: 14pt;
  position: absolute;
  bottom: 5;
  right: 5;
  text-align: right;
}

vt100 #console, #vt100 #alt_console, #vt100 #cursor, #vt100 #lineheight {
/*  font-family: "Courier New", "DejaVu Sans Mono", "Everson Mono", FreeMono, "Andale Mono", "Lucida Console", monospace;  */
  font-size: 13pt;
  line-height: 1.15;
}
#vt100 #cursor {
  font-size: 13pt;
  line-height: 1.5;
}

#vt100 #scrollable {
  color: black;
  background-color: white;
}

vt100 #lineheight {
  line-height: 1.6;
}

body {
 margin-bottom: 5%;
 font-family: Armata;
 font-size: 14pt;
}

h1 {
  font-family: Armata;
  font-size: 36pt;
  text-align: center;
}

#vt100 #cursor.dim {
  background-color: black;
  opacity:          0.2;
  -moz-opacity:     0.2;
  filter:           alpha(opacity=20);
}

#vt100 #scrollable {
  color:            #ffffff;
  background-color: #000000;
}

#vt100 #scrollable.inverted {
  color:            #000000;
  background-color: #ffffff;
}

#vt100 .ansiDef {
  color:            #ffffff;
}

#vt100 .ansiDefR {
  color:            #000000;
}

#vt100 .bgAnsiDef {
  background-color: #000000;
}

#vt100 .bgAnsiDefR {
  background-color: #ffffff;
}

#vt100 #scrollable.inverted .ansiDef {
  color:            #000000;
}

#vt100 #scrollable.inverted .ansiDefR {
  color:            #ffffff;
}

#vt100 #scrollable.inverted .bgAnsiDef {
  background-color: #ffffff;
}

#vt100 #scrollable.inverted .bgAnsiDefR {
  background-color: #000000;
}
